/* HEADER */
#jp {
	font-size: 32px;
	text-align: center;
	font-family: 'Roboto Slab', sans-serif;
	background-color: white;
	margin: 20px 0 50px;
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 10px 0px 7px 0;
	margin-top: 0px;
}
#jp h1 {
	margin: 3px;
}
#jp h2 {
	font-size: 18px;
	margin: 5px;
	color: rgba(67,67,90,0.9);
}
@media (max-width: 800px) {
	#jp {
		font-size: 20px;
	}
}



/* FOOTER */
#footer {
	z-index: 1;
	position: fixed;
	bottom: 10px;
	text-align: center;
	width: 100%;
	font-size: 14px;
}


/* NAVBAR */
.navbar {
  z-index: 999;
	position: fixed;
  bottom: 30px;
	left: 0;
	right: 0;
}
.navbar .navbar-nav {
  display: inline-block;
	float: none;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-toggle {
  float: none;
	padding: none;
	margin-left: 15px;
	border: none;
} 
.navbar-header {
  text-align:center;
}



/* PAGE */
body, html {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 10px;
	height: 100%;
	/* change to auto/hidden for image gallery */
  /*overflow: hidden;*/ 
	padding-bottom: 120px;
}
.header {
	position: fixed;
	top: 80px;
}
.center-header {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}
h1 {
	font-family: sans-serif;
	font-size: 300;
	font-size: 35px;
}
p {

	font-size: 15px;
}
#page-container {
	top: 150px;
}
@media (max-width: 800px) {
	#page-container {
		top: 110px;
	}
}
.btn-primary {
	float: right !important;
	border-radius: 0 !important;
	color: #9d9d9d;
	background-color: #101010;
}
.btn-primary:hover {
	color: white;
	background-color: #101010;
}
.btn-primary:active {
	background-color: rgb(80, 80, 80) !important;
}
@media (max-width: 800px){
	.btn-primary {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.desktop {
		display: none;
	}
}
@media (min-width: 768px) {
	.desktop {
		display: inherit;
	}
}
@media (max-width: 768px) {
	.mobile {
		display: inherit;
	}
}
@media (min-width: 768px) {
	.mobile {
		display: none;
	}
}



/* PORTFOLIO */
#portfolio-page {
	margin-top: 110px;
	height: 65vh;
	overflow: auto;
}
#portfolio-page .center {
	text-align: center;
}
#portfolio-page .col-md-6 {
	padding-left: 5px;
	padding-right: 5px;
}
#portfolio-page .img {
	filter: grayscale(1);
	opacity: .8;
	width: 100%;
}
#portfolio-page .img:hover {
	filter: grayscale(0);
	opacity: 1;
	border-radius: 25px;
}
#pigment-img {
	margin-bottom: 20px;
}
#bridge-img {
	float: right;
}
#win8-img {
	float: left;
}
#cogs-img {
	margin-top: 20px;
}
#photos {
	line-height: 0;   
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 3px;
  column-count: 3;
	column-gap: 0px;
	margin-left: -15px;
}
#photos img {
  width: 100% !important;
  height: auto !important;
	margin: 0 15px 15px
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  }
}



/* ABOUT PAGE */
#about-page.page {
	margin-top: 100px;
	height: 70vh;
	overflow: auto;
}
@media (max-width: 800px) {
	#about-page.page {
		margin-top: 100px;
		padding-bottom: 25px;
	}
}
#about-page img {
	width: 75%;
	margin-left: 12.5%;
}
@media (max-width: 800px){
	#about-page img  {
		margin-bottom: 20px;
	}
}
#about-page .btn-primary {
	float: left !important;
}
#resume-btn {
	margin-right: 25px;
	margin-bottom: 15px;
}

.clearfix:after {
content: "";
display: table;
clear: both;
}
#resumeModal .modal-content {
	height: auto;
	margin: 20px;
}
@media (max-width: 600px) {
 #resumeModal .modal-content {
		margin: 20px 0px;
	}
}
.modal-body {
	padding: 10px 50px;
}
@media (max-width: 600px) {
 .modal-body {
		padding: 10px 15px;
	}
}
.modal-dialog {
	width: 80%;
	font-family: 'Lato', sans-serif;
	font-color: #262626;
	border: 1px solid #ccc;
	margin: 0 auto;
}
@media (max-width: 600px) {
 .modal-dialog {
	 width: 100%;
 }
}
.modal-dialog .bold {
	font-weight: 700;
}
.modal-dialog br {
	content: "";
  margin: 1em;
  display: block;
  font-size: 24%;
}
.modal-dialog .content {
	padding: 10px;
	letter-spacing: inherit
}
#name {
	color: #c45911;
	font-weight: bolder;
	font-size: 36px;
	margin-bottom: 0;
}
.modal-dialog p {
	margin: 2px;
}
hr {
	border-collapse: collapse;
	border-top: 1px solid black;
	width: 100%;
}
.content {
	vertical-align: top;
	font-size: 18px;
}
.modal-dialog .section {
	color: #c45911;
	padding-left: 25px;
	font-size: 18px;
}
@media (max-width: 993px) {
 .modal-dialog .section {
	 padding-left: 10px;
 }
}



/* CONTACT PAGE */
#contact-page.page {
	margin-top: 150px;
	height: 70vh;
}
@media (max-width: 764px) {
	#contact-page.page {
		margin-top: 70px;
	}
}
#contact-info {
	margin-top: 20px;
	float: left;
}
.form-group {
	float: right;
	width: 100%;
}
.form-control, .form-control:focus {
  border-color: rgb(80, 80, 80);
  box-shadow: none;
  border-radius: 0 !important;
}
#contact-page .modal {
  margin-top: 150px;
  font-size: 24px;
  text-align: center;
}
#contact-page .modal-content {
	padding: 15px;
}



/* PIGMENT BATCH */
#pigment-page {
	margin-top: 150px;
	height: 65vh;
	overflow: auto;
}
#pigment-description {
	top: 100px;
}
#pigment-walkthrough {
	font-size: 25px;
	height: 90%;
	overflow: auto;
	margin-bottom: 15px;
}
#pigment-presentation {
	margin-bottom: 15px;
	width: 50%;
	height: 90%;
}
@media (max-width: 993px){
 #pigment-presentation {
	 width: 100%;
 }
}
iframe {
	width: 100%;
	height: 100%;
}
.pigment-images {
	width: 100%;
}



/* BRIDGE */
#bridge-page {
	margin-top: 150px;
	height: 60vh;
	overflow: auto;
}
#bridge-page .header {
	margin-left: 30px;
	margin-top: 30px;
}
#bridge-description {
	height: 100%;
	overflow: auto;
}
.bridge-walkthrough {
	height: 95%;
	overflow: auto;
}
#bridge-page img {
	width: 100%;
	margin-bottom: 10px;
}



/* WIN8 */
#win8-page {
	margin-top: 100px;
	height: 70vh;
	overflow: auto;
	text-align: center;
}
#win8-page .description {
	margin-bottom: 10px;
}
#win8-page img {
	border-radius: 25px;
	margin-bottom: 7px;
	width: 80%;
	opacity: .85;
}
#win8-page .top {
	margin-top: 45px;
}



/* COGS */
#cogs-page {
	margin-top: 110px;
	height: 67vh;
	overflow: auto;
}
@media (max-width: 800px) {
	#cogs-page img {
		width: 100%;
	}
}