<div id="about-page" class="page">
	<div id="about-pic" class="col-sm-5 col-md-5 col-md-offset-1">
		<img class="photo" src="static/etc/profile.jpg"> 
	</div>
	<div id="about-info" class="col-sm-7 col-md-5">
		<h2>About</h2>
		<p>
			My name is Jeanette Phung. I grew up spending most of my time on the computer. Majority of that time was spent on a website called Neopets. Neopets consists of a virtual world where users adopted virtual pets and gained currency through playing games. However, what I used this site to do was grasp the basic concents of html and designed my profile page. As I grew older, I no longer played on my profile page on Neopets. Instead, I experimented with CSS and more HTML on my MySpace page.  
		</p>
		<p>
			Entering community college, I took programming courses and decided this was the path I wanted to take. With the different programming courses I've taken in my community college and at University of California, San Diego, I still find passion in front-end development. I love being able to see the results of my work instantly and being creative.
		</p>
		<button id="resume-btn" class="btn btn-primary" data-toggle="modal" data-target="#resumeModal">Resume</button>
		<a href="static/etc/JeanettePhung.docx" download="JeanettePhung">
			<button id="download-btn" class="btn btn-primary">Download</button>
		</a>
		<div id="resumeModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content clearfix">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div class="resume-name col-xs-12">
							<h1 id="name">Jeanette Phung</h1>
						</div>
						<div class="resume-contact col-xs-12">
							<p>(626)627-7233 - j5phung@ucsd.edu</p>
						</div>
						<br>
						<div class="resume-line col-xs-12">
							<p>Looking for a summer internship in front-end development to improve my programming skills and work effectively in a group.</p>
						</div>
						<hr>
						<div class="section col-md-4 col-xs-12">Education</div>
						<div class="content col-md-8 col-xs-12">
							<p class="bold">Bachelor of Science: Computer Science, 2018 (expected graduation)</p>
							<p>University of California, San Diego {La Jolla, CA}</p>
							<p class="bold">GPA: 3.58</p>
							<br>
							<p class="bold">Associate of Arts: Mathematics, 2015</p>
							<p>Rio Hondo Community College {Whittier, CA}</p>
							<p></p>Rio Hondo Academic Excellence and Dean’s Honor, 2012 – 2014<p>
							<p class="bold">GPA: 3.88</p>
						</div>
						<hr>
						<div class="section col-md-4 col-xs-12">Technical skills</div>
						<div class="content col-md-8 col-xs-12">
							<p>BootStrap, C, C++, CSS, HTML, Java, jQuery, Less, PHP</p>
							<p>Android Studio, APIs, Eclipse, Git, Gulp, Microsoft Visual Studio, PHPStorm, Vim</p>
						</div>
						<hr>
						<div class="section col-md-4 col-xs-12">Experience</div>
						<div class="content col-md-8 col-xs-12">
							<p><span class="bold">TRADIV FRONTEND DEVELOPER INTERN:</span> Jun 26 – Sept 2, 2015</p>
							<p>Helped fixed 26 bugs and completed 64 tasks. Used Bootstrap, Chrome Development Tool, Gulp, Less, and LiveReload for styling Tradiv website. Worked on PHPStorm using PHP in Magento logic, CSS and jQuery to code quickview model displayed in marketplace. Learned to create branches for each task on bitbucket through PHPStorm and test on staging branch before pushing changes onto live site.</p>
							<br>
							<p><span class="bold">RIO HONDO COMMUNITY COLLEGE FACILITATOR:</span> Feb 3 – May 28, 2015</p>
							<p>Tutored  various courses, including C++, Java, mathematics, speech, and writing. Conceptualized different approaches to help students grasp material.</p>
							<br>
							<p><span class="bold">19TH ANNUAL INFORMATION TECH. COMPETITION:</span> Apr 18, 2015</p>
							<p>Learned jQuery, PHP, Python Flask in two weeks to construct a program to grab 500 most recent Flickr images using an API, and filter images by dominating color. Noticed for best presentation.</p>
							<br>
							<p><span class="bold">HackUCI</span> May 2014</p>
							<p>Worked with a group to code an SMS translating app on Android Development Tools (ADT) from Eclipse. Learned basic concepts of APIs and improved programming skills.</p>
							<br>
							<p><span class="bold">WINDOWS 8 APP DEVELOPER:</span> 2014</p>
							<p>Created apps using Construct 2 and put seven apps in Windows Store Platform. One app accumulated over 7,000 downloads  (Frozen Playlist).</p>
						</div>
						<hr>
						<div class="section col-md-4 col-xs-12">Volunteer</div>
						<div class="content col-md-8 col-xs-12">
							<p class="bold">CERRITOS COLLEGE SUMMER GAME CAMP, TUTOR</p>
							<p>Learned GameMaker: Studio and Construct2 to assist high school students interested in computer science learn different game maker engines. Assisted students in debugging games they created.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>