<div id="bridge-page" class="page clearfix">
	<h2 class="header row">Bridge</h2>
	<div class="bridge-walkthrough col-sm-3 desktop">
		<div class="col-xs-12 img">
			<p>A Spanish speaker sends text in Spanish.</p>
			<img src="static/etc/bridge1.png">
		</div>
		<div class="col-xs-12 img">
			<p>An English speaker recieves message translated to English.</p>
			<img src="static/etc/bridge2.png">
		</div>
		<div class="col-xs-12 img">
			<p>Screenshot of the Bridge Android app.</p>
			<img src="static/etc/bridge3.png">
		</div>
	</div>
	<div id="bridge-description" class="col-sm-9 col-xs-12">
		<p>By using Android Studios, Azure, Bing-Translator API, and Java, a team of four built an Adroid SMS app that translated text and voice-recorded messages to a user's dafault language. For example, a Spanish-speaking person conversating with an English-speaking will recieve their messages in Spanish and send messages in Spanish, but the English speaker will recieve the English-translated message.</p>
		<p>There were many translation apps before ours, however the team focused a simple, clean interface that would look like any other messenger app. Most translation apps had an input field for typing in a message, and another field that showed the message after translation. The chat interface would compose of both the original and translated message. It looked bulky, so the goal of the Bridge app was to simplify the design.</p>
		<p>Only having taken an introductory course in Java, the team faced many challenges trying to complete a demo for UCIHack. Every step of teh project was an obstacle. The first challenge was enabling the app to use the internet so that we were able to create an app that would send SMS messages to another phone. The second challenge was connecting the Bing Translation API so that the SMS messages would be translated. Lastly, which the team could not complete in time, was make a chat interface so that users can chatt directly using the app rather than have a translation app.</p>
		<p>Overall, builidng Bridge helped me get comfortable with Android Studdios and be familiar with what APIs are.</p>
		<div class="mobile">
			<hr>
			<h3>Preview</h3>
			<div class="col-xs-12 img">
				<p>A Spanish speaker sends text in Spanish.</p>
				<img src="static/etc/bridge1.png">
			</div>
			<div class="static/col-xs-12 img">
				<p>An English speaker recieves message translated to English.</p>
				<img src="static/etc/bridge2.png">
			</div>
			<div class="static/col-xs-12 img">
				<p>Screenshot of the Bridge Android app.</p>
				<img src="static/etc/bridge3.png">
			</div>
	</div>
	</div>
</div>