<div id="cogs-page" class="page clearfix">
	<div class="col-xs-12">
		<h1>Mobile Playlist Management</h1>
		<p>
			The aim of this project is to redesigning major streaming mobile apps. Working in a group of three, we focused improving the flow of creating, managing, and running playlists. 
		</p>
		<p>
			The first step was interviewing users who used different streaming mobile apps. The interviews consists of asking interviewees how to perform a certain scenario (Creating a playlist, adding/deleting a song, etc.) to see the different flows that each major streaming app offered. We concentrated on what made a sequence of steps simplest and most straightforward to a user to take account of for our redesign. Most importantly, we took notes on what confused or bothered users to know what to avoid for our redesign.
		</p>
		<p>
			After interviewing different users, we gathered all the information and determined which streaming app had the best user workflow. We did comparisons for different scenario and compared step-by-step what made a workflow better than another app. We would then take the best workflow of each scenario and incorporate it into our design. 
		</p>
		<p>
			For example, we compared the workflow for Spotify and Youtube on creating a playlist before browsing for songs to add. For Splotify, users can create a playlist in two ways. 1) Users can go to their playlist page and click on the create playlist button. 2) Users find a song they like and chooses the add the song to playlist option, where they are given the choice to add the song to an existing playlist or create a new one. On the other hand, Youtube only allows users to create a playlist by adding a song to their playlist and is then given the choice to add to existing or create new. Users cannot create a new playlist when accessing their playlist page, which is confusing if users are looking for this option.
		</p>
		<div class="col-md-12">
			<img class="col-md-6" src="static/etc/cogs_comp1.png">
			<img class="col-md-6" src="static/etc/cogs_comp2.png">
		</div>
		<p>
			In creating our wireframes for our redesign on the workflow of creating a playlist, we adapted the core elements of how Spotify allows users to create a playlist (through adding a song and on the playlist page). Additional feature we added, through data gathered from additional research, was the option to add a pre-listing playlist into a user's existing playlist.
		</p>
		<div class="col-md-12">
			<img class="col-md-6" src="static/etc/cogs_wf1.png">
			<img class="col-md-6" src="static/etc/cogs_wf2.png">
		</div>
		<div class="col-md-12">
			<img class="col-md-6" src="static/etc/cogs_wf3.png">
			<img class="col-md-6" src="static/etc/cogs_wf4.png">
		</div>
		<div class="col-md-12">
			<img class="col-md-6" src="static/etc/cogs_wf5.png">
		</div>
		<p>
			The hardest decisions we faced in redesigning was deciding whether or not we should add a music control panel at the bottom of the screen above the navigation bar to allow users to control the music they are slistening to. Although it provides convenience, it takes up screen space if listening to a playlist while trying to browse for new songs. We decided the convenience of very important to the users we interviewed.
		</p>
		<p>
			Another important questions was what to include in the main navigation bar. We decided to go with the one Spotify has since it offers the most frequently used buttons. Youtube, on the other hand, which includes a Subscriptions button that would rarely be clicked. 
		</p>
	</div>
</div>