<div id="portfolio-page" class="page clearfix">
	<div class="col-xs-12 center-header">Portfolio</div>
	<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
		<a href="/#/pigment">
			<img id="pigment-img" class="img" src="static/etc/pigment.png">
		</a>
	</div>
	<div class="col-md-offset-4 col-md-2 col-sm-offset-3 col-sm-3 col-xs-6">
		<a href="/#/bridge">
			<img id="bridge-img" class="img" src="static/etc/bridge.png">
		</a>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
		<a href="/#/win8">
			<img id="win8-img" class="img" src="static/etc/win8.png">
		</a>
	</div>
	<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
		<a href="/#/cogs">
			<img id="cogs-img" class="img" src="static/etc/cogs.png">
		</a>
	</div>
</div>

