<div id="win8-page" class="page clearfix">
	<div class="col-sm-2 col-sm-offset-2">
		<div class="col-sm-12">
			<img class="top" src="/etc/app_betta.png">
		</div>
		<div class="col-sm-12">
			<img src="/etc/app_dragon.png">
		</div>
		<div class="col-sm-12">
			<img src="/etc/app_frozen.png">
		</div>
	</div>
	<div class="col-sm-4 col-xs-12">
		<h2>Window's 8 Apps</h2>
		<p>Through Scrirra's Construct2, I created a couple of Window's 8 App and published them onto the Window's 8 App Store.</p>
		<p>Through the creation of these apps, I learned basic logic of how most games and programs are constucted. The games I created consisted mostly of conditions and loops. I also grasp the idea of what object oriented programming though the creation of objects that each had their own behaviors.</p>
	</div>
	<div class="col-sm-2">
		<div class="col-sm-12">
			<img class="top" src="/etc/app_kitty.png">
		</div>
		<div class="col-sm-12">
			<img src="/etc/app_olaf.png">
		</div>
		<div class="col-sm-12">
			<img src="/etc/app_sleepy.png">
		</div>
	</div>
</div>